[2017-12-11 10:42] ibartomeus opened #1 "Create function that connect with a given token"

[2017-12-11 12:45] #1 closed

[2017-12-11 14:16] ibartomeus opened #2 "change Rcurl to httr"

[2017-12-11 16:27] KevCaz opened #3 "Add Appveyor and Codecov"

[2017-12-11 16:47] KevCaz opened #4 "rworld, should we include it?"
To keep the package as light as possible, I would recommend to use `rworldmap` in a vignette but not in the package. Just a thought.

[2017-12-14 12:57] KevCaz opened #5 "Authors should be listed properly and there must be only one maitainer."
And I guess the maintainer should be @JonasGeschke !

[2017-12-14 12:57] #5 closed

[2018-01-04 22:59] KevCaz commented on #3
And use lintr as a style guide.

https://github.com/jimhester/lintr

[2018-02-12 17:26] FVFaleiro opened #6 "Wrong information returned"
Hi developers,

sometimes some species have a wrong and correct appendix value returned, like in the example bellow.
I did not identify any pattern in this kind of error.

Cheers!
Fred

`sppplus_taxonconcept(key, query = "Amazilia versicolor")`

1   3210 Amazilia versicolor    II
2  65789 Amazilia versicolor  NA

`sessionInfo()`

R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bi

[2018-02-12 21:17] ibartomeus commented on #6
Thanks a lot for reporting the bug. The package is in development and we will try to fix this as soon as possible, but It may take some time before we can work on it.

Best,

[2018-02-13 20:52] KevCaz commented on #6
I may be able to look at this next week-end 😄.

[2018-02-17 16:58] KevCaz opened #7 "Why `sppplus` and not `spplus`?"
Currently we use `sppplus` as a suffix for function. I do not recall why there are 3 p?
Should we rather use `spplus`?

[2018-02-17 17:09] JonasGeschke commented on #7
Hi all,
continuing working on the package still is on my list - also preparing a manuscript about it.
So far we use 3p, as it is „spp“ „plus“…

[2018-02-17 17:57] KevCaz commented on #7
Sounds good 😄 !

I'm working on it right now (on a separate branch). Hopefully some issues will be fixed today.

[2018-02-17 23:38] ibartomeus commented on #7
Great, Jonas, add the ms to the repo and I can try to contribute whenever I find the time.

[2018-02-18 04:53] KevCaz commented on #6
Now that I use json, I do not find any issue, at least for the example. So everything should be Ok in my next PR.

[2018-02-18 19:32] #2 closed

[2018-02-18 19:32] #4 closed

[2018-02-18 19:32] #6 closed

[2018-02-18 19:49] KevCaz commented on #7
Let's keep `sppplus`.

[2018-02-18 19:49] #7 closed

[2018-02-18 20:00] KevCaz opened #9 "Manage authentifictaion token properly"
So far, we've used an explicit variable `token` and expect the user to go on the website to get his own authentication token (fairly doable). I however think there is a better way to proceed:

https://cran.r-project.org/web/packages/httr/vignettes/secrets.html
https://cran.r-project.org/web/packages/googlesheets/vignettes/managing-auth-tokens.html

I'd like to spend some time to look at the above

[2018-02-18 20:17] #3 closed

[2018-02-18 20:26] KevCaz opened #10 "Code coverage"
Now that codecov is added, we should use improve the code coverage, *i.e.* we should implement tests in the `test` folder (see http://r-pkgs.had.co.nz/tests.html).

I may be tricky as we need a token to perform most of the tests (making this issue related to #9).

[2018-02-18 20:55] KevCaz opened #11 "A `simplfy` argument?"
Currently most of the functions use the flexibility of matrix/data.frame/data.table and store information as lists. This is very useful for us to make the code short, this may however bewilder some users.

What we could do is to add an argument `simplify` so the data.tables we output have columns that are **not** lists when it is possible. What do you think?

[2018-02-18 21:05] ibartomeus commented on #11
I think this is a good idea, but for me is a low priority thing to add.

[2018-02-18 21:23] ibartomeus opened #12 "Submit the package"
The process is described here:

https://github.com/ropensci/onboarding#how-submit

Looks easy, but we need to check the guidelines first. Also, What do you think about submitting to JOSS (which is the same process)? For me and given the nature of this package, would be enough. This would give us a DOI, a line in our CV under peer-reviewed papers and a to be indexed in G scholar.

I am skeptical ME

[2018-02-18 21:30] KevCaz commented on #12
JOSS + Ropensci... sounds like a plan!

Note that you can always add a DOI to your code using Zenodo!

By the way, if I recall correctly, the R client for the cites API was in the wishing of Ropensci, right?

[2018-02-18 21:39] ibartomeus commented on #12
Yes, It was.

[2018-02-19 15:12] KevCaz commented on #11
#13 introduces it. Let's wait and see if this will be useful!

[2018-03-06 04:06] KevCaz commented on #10
I think I know how to take care of the test with Travis, not sure for Appveyor yet.
See:
- https://cran.r-project.org/web/packages/httr/vignettes/secrets.html
- https://docs.travis-ci.com/user/encrypting-files/

[2018-03-06 14:35] KevCaz commented on #10
And for Appveyor it sounds to be more or less the same (see environment variable).

[2018-03-06 15:50] KevCaz commented on #12
So I have to stop working on the package for today but I can finish to boost the code coverage this week-end + improve the documentation. Then I'll consider the package as ¨submittable¨. What's your feeling?

[2018-03-06 22:05] ibartomeus commented on #12
Kevin, thanks so much for all the effort you put! I didn't test it yet, but I am happy to submit it sooner than later. We should also clarify authorship and give credit appropriately, especially to Kevin and Jonas.

[2018-03-06 22:56] KevCaz commented on #12
I was happy to learn a bit more about web API and how to wrap around an API, so my pleasure!

I'll take care of the tests and double check the doc of our functions. If you have a good example in mind of what a user/researcher could do with this package, we should use it to build a vignette!

[2018-03-11 20:59] KevCaz commented on #11
It uses pretty much everywhere since #15, I am therefore closing this.

[2018-03-11 20:59] #11 closed

[2018-03-12 02:35] KevCaz commented on #12
To me, we only need to build a nice / exhaustive vignette and we are ready to go.

[2018-03-12 05:52] ibartomeus commented on #12
Awesome, I am swamped this week, but I can try to do the vignette next week. @JonasGeschke , what do you think about submitting to JOSS?

[2018-03-12 14:15] KevCaz commented on #12
I'll try to outline the vignettes this week.

[2018-03-12 16:36] KevCaz commented on #12
They make the submission quite easy!
https://joss.theoj.org/about#author_guidelines

[2018-04-02 15:07] #10 closed

[2018-04-02 17:47] JonasGeschke commented on #12
Hi guys,
so sorry for my absence during the past months.
Submitted our projects period extension application last week (lots work past months) and I was in Colombia during March.
JOSS sounds good, I would however also check out and have a quick chat with MEE about it. Will then draft a manuscript about CITES, its database and our package.
Best greetings!

[2018-04-02 18:43] KevCaz commented on #12
I may be able to write a little bit more about the vignette soon (within two weeks).
Any time frame for the ms?

[2018-07-02 20:02] KevCaz commented on #12
I may be able to put a little bit of energy in this project this summer, are you interested in finish this up by the end of the summer?

[2018-07-02 20:03] JonasGeschke commented on #12
totally!
I think we should meet for a skype to discuss progress.?
best greetings,
Jonas

[2018-07-02 20:04] KevCaz commented on #12
Sure!
I'll be at the ESA by the way.

[2018-07-02 21:55] ibartomeus commented on #12
Yes, and sorry for not kepig up with the project. Would be great to wrap it up and make it available. We can Skype this week anytime.

[2018-07-02 22:17] KevCaz commented on #12
What about Thursday? I guess you are both in Europe. What about 2pm in Madrid (i.e. 8am here in Guelph)?

[2018-07-03 05:31] JonasGeschke commented on #12
What about next week? This week I am in Hannover for a workshop about interactive biodiversity research web platforms.
Next week I am pretty flexible.

[2018-07-03 13:43] KevCaz commented on #12
Next week works for me!

[2018-07-03 13:46] ibartomeus commented on #12
ok, I am not sure If I will have internet, but if I do (hopefully), Monday 2 pm should be ok. If I can't make go ahead without me. My skype name is nachobartomeus

[2018-07-03 13:47] KevCaz commented on #12
works for me.

[2018-07-03 15:03] JonasGeschke commented on #12
So it is monday, 12pm (Europen/ Berlin time, right?). my skype is „jonasgeschke“.
looking forward to following up on this!

[2018-07-03 15:06] ibartomeus commented on #12
14:00 to be clear.

[2018-07-09 02:54] KevCaz commented on #12
See you tomorrow

[2018-07-09 12:18] ibartomeus commented on #12
Papers: look for Tella et al., is on parrots as invasive species. I'll see to find it when I got decent internet.

[2018-07-09 12:18] JonasGeschke commented on #12
great, thanks, I will check on this and find my way!

[2018-07-10 16:28] JonasGeschke commented on #12
FYI: I contacted the coordinator of Methods in Ecology and Evolution in order to ask about publishing there. See the answer below.
So I guess we go with JOSS and then probably promote the publication via their blog.
Best greetings!

- - - - -
Hi Jonas,

Thank you for your email. It's wonderful to hear that your package is close to being ready for submission to rOpenSci or CRAN.

There are no publi

[2018-07-10 16:46] KevCaz commented on #12
Sounds like a very good plan to me, thanks Jonas!

[2018-07-11 22:03] KevCaz commented on #12
JOSS has a new authors guidelines webpage https://joss.readthedocs.io/en/latest/submitting.html

[2018-07-12 05:48] JonasGeschke commented on #12
Thanks, I know, the link and paras aboout whats needed are already copied into the manuscript as info lines. I think the manuscript is quite alright already, but Ignasi should have a look at it.
Then we just need to check on the functioning of the package and the vignette. The storage on github already is sufficient, do we want to submit it to CRAN? (how long would this need?)

[2018-07-12 21:48] KevCaz commented on #12
The submission to the CRAN doesn't worry me. Actually our package is ready for CRAN submission, and the steps to go through are fairly simple: https://cran.r-project.org/submit.html
However I would wait as there is still some work I want to do before submission!

[2018-07-13 06:44] JonasGeschke commented on #12
Sure, no worries. Lets try to …
1. Finalise the paper manuscript until the 20.7.
2. Test the package and adapt the vignette until 27.7.
3. Thereafter submit the package to CRAN
4. Once we have the CRAN-link, submit the paper

[2018-07-17 13:28] KevCaz commented on #12
I've built a website with pkgdown, to add it I need you do something @ibartomeus !
Whenever you have some time to do so:
1. go to the settings of the repo
2. enable gh-pages for this repo, select the option using a `docs` folder
3. it'll give you a url you should but on the first page (top right next to the short description)

More details here => https://help.github.com/articles/configuring-a-pub

[2018-07-19 09:25] ibartomeus opened #18 "Token in readme"
Do you think is a good idea to add a token to the readme? My understanding is that those should be personal. Hence, I would remove it from there and add a link to get your own token.

[2018-07-19 10:08] ibartomeus commented on #18
I edited the vignette explaining a bit more the process.

[2018-07-19 10:08] #18 closed

[2018-07-19 10:13] ibartomeus opened #19 "Vignettes"
Should `citesr-vignette.Rmd` live in both `vignettes/` and `inst/doc/` ? Or we can remove one?

[2018-07-19 10:31] ibartomeus commented on #19
Also, I am not sure how to link to the html of the vignette (in a readable format) from the readme. I left a not there.

[2018-07-19 11:14] ibartomeus opened #20 "Paper"
I added the R citation to the ms, but I can't edit the .bib, can you please add this and re-knit the .md? Thanks!

[2018-07-19 11:46] ibartomeus commented on #12
I think it's done. I also gave you both admin privileges.

I edited (minimally) the ms, help, and vignettes. I also placed Kevin as the second author if you agree. The package is working nicely. I think we are ready on my part!

The last issue is about coauthors. I noticed I don't have all peoples email, so if you agree I'll ask the 8 collaborators listed if they want to be coauthors by naming the

[2018-07-19 11:49] ibartomeus commented on #12
Update: It looks like I can not give you owner privileges (if you know a way, let me know).

Also, here is the webpage: https://ibartomeus.github.io/citesr/

[2018-07-19 12:04] ibartomeus opened #21 "CITESR Co-authorship"
Dear @JonasGeschke, @KevCaz, @basil-yakimov, @tdjames1,  @susanjarvis501, @mbhleduc, and @JonathanGoldenberg.

Thanks to a big push from Kevin and Jonas, we finalized the R package citesR. We plan to submit it to JOSS soon. As you all participated in the hackathon, we would like to be inclusive and fair in the co-authorship and list all relevant contributions.

Please, let us know how would you li

[2018-07-19 12:23] KevCaz commented on #19
It should remain this way!

Now we have the website and the vignette is included!

[2018-07-19 12:24] KevCaz commented on #20
I'll take care of this (tonight)

[2018-07-19 12:25] Yasmine-Verzelen commented on #21
Hi, thank you so much for finishing the package! I would be honored to be listed as contributor.

Best,

Yasmine

[2018-07-19 12:27] KevCaz commented on #12
Can you add this on the top of the home page of the repo?

[2018-07-19 12:29] JonasGeschke commented on #20
I added the R citation. I actually dont know if we need to/ should re-knit and even have the output style int the metadata section, as JOSS will produce the paper in the end. At least the expample manuscript at JOSS doesnt have it.

[2018-07-19 12:31] JonasGeschke commented on #20
Further procedure: (?)
- Wait for the others if we include them as contributers (but as far as I remember and the github stats say we are the main contributers ;-) ).
- Finalize the vignette (more to do?)
- Submit the package to CRAN
- Add the CRAN link to the paper and submit to JOSS

Anything else?

[2018-07-19 12:38] JonasGeschke commented on #12
ohh its getting to many conversations streams/ issues now ...
somewhere I read about the token: I agree the token is personal and should not be screened. Either we take a placeholder instead or - which I think would be fine - we just use ***** instead of the last 5 characters. @KevCaz can you edit this? (as it also needs to be in in the website)

[2018-07-19 12:42] KevCaz commented on #20
I've added a small example to deal with a vector of species. I should be able to merge it by the end of the day.

I think we're good!

[2018-07-19 12:43] JonasGeschke commented on #12
@KevCaz in the website citation info https://ibartomeus.github.io/citesr/authors.html some link to another package "inSilecoMisc" is provided. I guess there should be some other reference ...

[2018-07-19 12:45] KevCaz commented on #12
My bad!

[2018-07-19 12:57] KevCaz commented on #18
Just to be clear I've never provided a real token in the vignette! I was using the one from the API website (which does not work) and was actually using mine from a hidden file that was never put on Github!

I have however removed this part of the README as we have a website site now!

[2018-07-19 13:01] basil-yakimov commented on #21
Hi all. No doubt that my contribiton is a strict zero. So please do not mention me as any type of a contributor. But it was a great experience to observe the process of development and submission.
Good luck and well done!

[2018-07-19 13:01] ibartomeus commented on #19
Perfect!

[2018-07-19 13:01] #19 closed

[2018-07-19 13:03] ibartomeus commented on #20
Thanks!

[2018-07-19 13:03] #20 closed

[2018-07-19 13:56] JonathanGoldenberg commented on #21
Hi everyone. It is really nice to see how few hours of brainstorming ended up with. Good job guys! As my input was mainly theoretical, I will be happy to be listed as ctb.

Best,
Jonathan

[2018-07-19 14:37] JonasGeschke commented on #21
Alright. For those who want to be listed as contributor, **please send your full name until Sunday night** (European time), so we can proceed with submitting the package early next week. Thanks!
(as online user names sometimes are not what one wants so have as author name)

[2018-07-19 14:41] KevCaz commented on #12
done

[2018-07-19 14:41] KevCaz commented on #21
Orcid would be great! So far @Yasmine-Verzelen  and @JonathanGoldenberg  have been added as contributors! https://ibartomeus.github.io/citesr/authors.html

[2018-07-19 15:22] Yasmine-Verzelen commented on #21
Full name: Yasmine Verzelen

[2018-07-19 16:23] tdjames1 commented on #21
Hi, great job for finishing the package, @JonasGeschke @KevCaz @ibartomeus!

Since I was only really participating in the workshop as a helper, I don't feel as if I've contributed to the development of this package (although apparently I committed the original license file and author list:
https://github.com/ibartomeus/citesr/graphs/contributors) so no need to include me.

Cheers,
Tamora

[2018-07-19 16:51] JonasGeschke commented on #12
how do you access and edit the website? cause the one "Access" needs to be written small "a".
and in general: I wonder if we should chance the creation date of the package so it becomes a 2018 in the citation. e.g. to the submission date to CRAN? I dont know ;-)

tell me if you need me to do anything further. I am gone over the weekend and back available on monday. would be great to submit the pap

[2018-07-20 11:46] KevCaz commented on #12
I'll follow your suggestions and I'll do some final change so everything is ready on Monday! Enjoy your week-end!!

[2018-07-20 12:10] JonathanGoldenberg commented on #21
Full name: Jonathan Goldenberg

Thanks,
Jonathan

[2018-07-20 17:07] mbhleduc commented on #21
Hi, I would be delighted to be acknowledged as contributor. Whatever small contributions that I provided, I mostly owe it to the hackaton helper who guided me through a lot of the steps so if you remember her name/contact info, it would be great to list her as well (I unfortunately don`t remember her name!

Marie-Bé Leduc
University of Ottawa

[2018-07-22 15:14] KevCaz opened #23 "Versioning of the package"
Hi,

I'm almost done with the first version of the package. I think it should be released under 0.2.0 so versions 0.1.X refer to the first era of the development. You may or may not be familiar with semantic versioning so here is a very helpful link https://semver.org/. I propose we keep using 0.1.X until there is a change in the checklist API. Alternatively we could use 1.X.X so the first number

[2018-07-22 15:21] KevCaz commented on #21
All good!

https://ibartomeus.github.io/citesr/authors.html

Many thanks @tdjames1

[2018-07-22 15:35] KevCaz opened #24 "Logo / sticker"
In our communication era I think would be great to have a logo/sticker. Nowadays, R community tend to mostly use  hexagon logos, see http://hexb.in/ and the specification here https://github.com/terinjokes/StickersStandard.

Anyone interested in designing the logo of our package?

[2018-07-22 15:42] KevCaz commented on #12
@JonasGeschke you do not access the website, you simply build it using [pkgdown](https://github.com/r-lib/pkgdown), using `build_site()` (a convenient wrapper). Basically it takes different piece of the documentation and build a website, isn't it neat? This means that if you want to change anything, you need to change the relevant piece of documentation! For instance, if you aim at editing the hom

[2018-07-22 15:52] ibartomeus commented on #23
I agree with whatever you choose.

[2018-07-22 18:16] KevCaz commented on #12
I'm ready for the submission once I have your feedback about #23 @JonasGeschke.

[2018-07-23 06:34] JonasGeschke commented on #23
Hi there,
the most logical one to me would be "I propose we keep using 0.1.X until there is a change in the checklist API." = first release as version 0.1.0

However, I also agree to what you can decide on.
In regard to the 4th number for development version thats fine to me.

[2018-07-23 06:43] JonasGeschke commented on #12
did my feedback ;-)
thanks for the explanation about the website, got it.

[2018-07-23 07:50] JonasGeschke commented on #24
a very first idea ...

![citesr](https://user-images.githubusercontent.com/14090764/43067604-19289a84-8e68-11e8-84ba-297ac775d431.png)

[2018-07-23 09:13] JonasGeschke commented on #24
and a first update, including the database name as well as making the text readable once the picture is smaller in size ...

![citesr_v2](https://user-images.githubusercontent.com/14090764/43068907-0558b0b2-8e6c-11e8-9689-a2a4bf9a207b.png)

![citesr_v2_small](https://user-images.githubusercontent.com/14090764/43068926-1130ff0c-8e6c-11e8-9077-36c1f871ddd6.png)

[2018-07-23 12:15] KevCaz commented on #23
So let's say 0.1.0 as our first version and start from there. I'll tag this version now!

[2018-07-23 12:24] #21 closed

[2018-07-23 12:26] JonasGeschke commented on #24
any feedback to me ;-)

[2018-07-23 12:27] JonasGeschke commented on #23
great, thanks!

[2018-07-23 12:28] KevCaz commented on #24
I think I like the idea of using the picture of an elephant to remember what CITES is about. Is the photo copyrighted? Is there a way I can edit the logo?

[2018-07-23 12:55] KevCaz commented on #24
old school feed back!
![suggestkc](https://user-images.githubusercontent.com/1583534/43077678-28e00154-8e56-11e8-8ced-77e9ffb85c6b.png)

[2018-07-23 12:57] JonasGeschke commented on #24
indeed, the copyright issue ... resolved. its my own picture now.

![citesr_v3](https://user-images.githubusercontent.com/14090764/43077630-4dbc4a14-8e88-11e8-8542-2412e12fb538.png)

[2018-07-23 12:57] JonasGeschke commented on #24
haha great, thanks, I will try my best!

[2018-07-23 13:11] JonasGeschke commented on #24
and here we go:
(citesr or citesR? - we would need to change the package documentation respectively ...)

![citesr_v4](https://user-images.githubusercontent.com/14090764/43078428-aeca222a-8e8a-11e8-8ee3-096fc573fd3c.png)

[2018-07-23 13:17] KevCaz commented on #24
Nice! I would zoom out slightly (to see a bit more of the elephant).
Regarding the name of the package I'd keep lower case letters. By the way I thought that *maybe*, **rcites** sounds better than **citesr** and make it more similar to [rfishbase](https://cran.r-project.org/web/packages/rfishbase/rfishbase.pdf) or [rorcid](https://cran.r-project.org/web/packages/rorcid/index.html). What do you thi

[2018-07-23 13:20] JonasGeschke commented on #24
okay, I zoom out a bit and also optimize the colors.
well I am used to citesr but I dont mind.

[2018-07-23 13:21] KevCaz commented on #24
neither do I, no big deal, @ibartomeus any thought?

[2018-07-23 13:28] ibartomeus commented on #24
I don't have aesthetic criteria, but rcites sound ok too. I like the elephant :D

[2018-07-23 13:33] JonasGeschke commented on #24
alright, so I will change all documentation to rcites!

![citesr_v4](https://user-images.githubusercontent.com/14090764/43079543-abbfca00-8e8d-11e8-9c83-7172c6f4ca78.png)

[2018-07-23 13:43] JonasGeschke commented on #24
@ibartomeus can you rename the repository? and also the title "An r package to access CITES (https://speciesplus.net/) https://ibartomeus.github.io/citesr/" should be updated ...

_An R package to access the CITES Speciesplus database - https://ibartomeus.github.io/rcites/_

Thanks!

[2018-07-23 13:44] JonasGeschke commented on #24
oh did I mess up something?

[2018-07-23 13:48] ibartomeus commented on #24
Is it save to change the repo name? I can do it asap if you confirm.

[2018-07-23 14:18] JonasGeschke commented on #24
@KevCaz this is something for you to confirm.
also, I am sorry indeed for messing up something with my "citesr" to "rcites" changes. I reversed all changes I did and hope it works out again ...

[2018-07-23 14:21] JonasGeschke commented on #24
in regards to the logo: you like colors?

![citesr_v4_col](https://user-images.githubusercontent.com/14090764/43082500-82fb1f64-8e94-11e8-8c21-c997f5163e0a.png)

[2018-07-23 14:30] KevCaz commented on #24
I tend to prefer black and white!

[2018-07-23 14:30] JonasGeschke commented on #24
or another angle of the elephant?

![citesr_v5_col](https://user-images.githubusercontent.com/14090764/43083068-ea195296-8e95-11e8-8b73-6c3f02c0b090.png)
![citesr_v5](https://user-images.githubusercontent.com/14090764/43082892-72dcb704-8e95-11e8-969e-5bf6911cfb1a.png)

@KevCaz sorry for messing up something! but it looks like the fixing worked out. could you change the name and documentation from

[2018-07-23 14:30] KevCaz commented on #24
no worries!

[2018-07-23 14:30] KevCaz commented on #24
Like this angle!

[2018-07-23 14:36] KevCaz commented on #24
@ibartomeus,
There is nothing to be worried about, everything should work seamlessly! At most few tweaks here and there.
However, I guess this will be the last time we do so as we do not intend to generate confusion among potential users.

[2018-07-23 14:40] ibartomeus commented on #24
Done!

[2018-07-23 14:51] KevCaz commented on #24
I'm on it!

[2018-07-23 14:52] KevCaz commented on #24
@JonasGeschke let me know when you have the final version of the logo!

[2018-07-23 15:04] JonasGeschke commented on #24
great, thanks for all your efforts!
I guess it is the latter version?! I will prepare the files and send them as a zip.

[2018-07-23 15:19] JonasGeschke commented on #24
@KevCaz here its the zip file with the logo. if you need me to adapt anything, tell me.
[rcites_logo.zip](https://github.com/ibartomeus/rcites/files/2219888/rcites_logo.zip)

[2018-07-23 15:26] KevCaz commented on #24
I'll take care of it :+1:

[2018-07-23 15:28] KevCaz commented on #24
I like it, I guess you've used the max font-size possible for the code parts?

[2018-07-23 15:40] JonasGeschke commented on #24
well I adjusted the hexagon size to 5.08cm and then chose a font-size thats readable once the logo is set to 209px width.

[2018-07-23 15:44] KevCaz commented on #24
Good job! I've added the logo in the README following recommendations about the size of the logo on pkgdown documentation. https://ibartomeus.github.io/rcites/

[2018-07-23 15:45] KevCaz commented on #24
Looks like everything is in order. I'm waiting for 1 build to pass!

[2018-07-23 15:49] KevCaz commented on #12
Well here is the plan for the next few minutes on my side. I'll tag the version and do the first official GH release. Then would you (@JonasGeschke ) like to do the CRAN submission? Then we are ready for the JOSS submission, right? I'm unsure whether or not we should get a DOI (via Zenodo) now or wait for the review.

[2018-07-23 15:52] KevCaz commented on #24
So thanks to @JonasGeschke we have a logo now, so let's close this and open a separate issue for evantual updates of the logo. Feel free to re-open this issue now if you are not quite still happy with the first version of the logo, I am closing this because well, I am happy!

[2018-07-23 15:52] #24 closed

[2018-07-23 15:53] JonasGeschke commented on #12
sounds good!
yeah I can do the CRAN submissen, if you dont like to. I will do the JOSS submission once we have the cran link.
you can do the Zenodo now or wait until the JOSS paper is done. see the review process of the JOSS paper:

<img width="738" alt="bildschirmfoto 2018-07-23 um 17 52 31" src="https://user-images.githubusercontent.com/14090764/43087943-4bc315c6-8ea1-11e8-954b-58d4cac1cbdd.png"

[2018-07-23 15:56] KevCaz commented on #12
It's up to you I can handle the CRAN submission and let you handle the JOSS submission.

[2018-07-23 15:57] JonasGeschke commented on #12
yeah lets do it that way. I guess for the Zenodo deposit we should wait for the review, in case they ask for edits, right

[2018-07-23 21:29] JonasGeschke opened #25 "author roles"
@KevCaz I just saw you changed the emails. I think we should adapt the author roles instead ... me as author (as I wrote most of the code) and you as maintainer (as you did and are doing most technical stuff).

further, in case its still possible to change this, I worked on the logo a bit more:
[rcites_logo.zip](https://github.com/ibartomeus/rcites/files/2221106/rcites_logo.zip)

[2018-07-23 21:37] KevCaz opened #26 "CRAN submission"
As I'm completing the first CRAN submission, I'd like to add a couple of notes to make your live easier if you (@JonasGeschke or @ibartomeus ) take care of future submissions:

1. make sure everything is OK (we did so this morning),

2. edit `r-cran-comments.md` to explain what you did,

3. use the win builder https://win-builder.r-project.org/ (`devtools::build_win()`), which allows you to check

[2018-07-23 21:40] KevCaz commented on #25
@JonasGeschke, it makes sense to me. My feeling is that I'll be the maintainer for the first release and whenever you'll be more comfortable with the technical details I've been dealing with, you'll take over and be the maintainer!

[2018-07-23 21:42] KevCaz commented on #25
To be clear,

What makes sense is: nacho + you + me are authors, me as (temporarily) maintainer and you first author on package + paper. And you'll be the next maintainer!

[2018-07-23 23:12] KevCaz commented on #26
Last but not least: `devtools::sumit_cran()`

[2018-07-23 23:15] KevCaz commented on #26
Done!

[code]

I've confirmed the submission!

![screenshot from 2018-07-23 19-13-06](https://user-images.githubusercontent.com/1583534/43107814-ab57d732-8eac-11e8-9446-45df1b46765e.png)

Let's wait and see!

[2018-07-24 06:15] JonasGeschke commented on #25
great, I agree on that. thank you for all your efforts!

[2018-07-24 06:15] #25 closed

[2018-07-24 06:16] JonasGeschke commented on #26
awesome, thank you so much. looking forward to the feedback and outcome!

[2018-07-24 11:49] KevCaz commented on #26
FYI

----------------------------
Dear maintainer,

package rcites_0.1.0.tar.gz has been auto-processed and is pending a manual inspection. A CRAN team member will typically respond to you within the next 5 working days. For technical reasons you may receive a second copy of this message when a team member triggers a new check.

-----------------------------

All good! For the first submission the

[2018-07-30 13:14] KevCaz commented on #26
Just to keep you in touch, I've just received an email:

------------
Thanks, please do not comment out your examples and use \donttest{} instead:

\examples{
   examples for users and checks:
   executable in < 5 sec

   donttest{
       further examples for users (not used for checks)
   }

}

Please fix and resubmit.

---------

I'll do this, it also means that once it's done, everything you be

[2018-07-30 13:36] JonasGeschke commented on #26
Great, thank you!
So probably we get this done some time this week. Will submit the paper to JOSS as soon as I get the CRAN-Link.

(by the way: did you ever re-think to submit the package to rOpenSci? cause they automatically have a JOSS submission included)

[2018-07-30 14:37] KevCaz commented on #26
I think we should submit to the ROpenSci.

[2018-07-30 14:40] JonasGeschke commented on #26
alright.
then I will check for the procedure. cause then we dont need to submit the paper to JOSS.

[2018-07-30 14:46] JonasGeschke commented on #26
see here: https://ropensci.github.io/dev_guide/onboarding-guide-for-authors.html
so once the CRAN submission is done, one of us can simply do the submission. it should be all fine ...

[2018-07-30 14:56] JonasGeschke opened #27 "rOpenSci submission"
[preparation for submission, see details [here](https://ropensci.github.io/dev_guide/onboarding-guide-for-authors.html)]

### Summary

-   What does this package do? (explain in 50 words or less):
With rcites we provide an R client to access to the Speciesplus database. We provide functions to 1. access the Speciesplus taxon concept, and thereafter 2. get a species' legislation status, both from C

[2018-07-30 15:02] JonasGeschke commented on #27
this is the rOpenSci submission content. so we only need to copy and paste it for submission.

@KevCaz please re-check on the requirements (but as far as I got them they should be good) and do the details?

[2018-07-30 15:56] KevCaz commented on #27
R CMD check is Ok (well we'll have the CRAN link anyway)

[2018-07-30 16:09] JonasGeschke commented on #12
alright. so I would close here so we can handle each submission separately (as we are doing already).

[2018-07-30 16:09] #12 closed

[2018-07-30 18:14] KevCaz commented on #27
Worst case scenario we'll published version 1.0.X afterwards.

[2018-07-30 18:16] JonasGeschke commented on #27
yes, thats why I asked if you still consider submitting to rOpenSci. but anyways, so the first update probably will be a major one.

[2018-07-30 18:35] KevCaz commented on #27
I'm checking with the [goodpractice package](https://github.com/MangoTheCat/goodpractice) as suggested.

[2018-07-30 19:29] KevCaz commented on #27
So when using `goodpractice::gp()` I got the following outputs (I added my comments):

[code]

Actually we have 92% (there are tests skip because a token is required)

[code]

I actually use `formatR::tidy_source()` with a cut_off of 80, so lines may be 85 max, I can change this and use a cutoff of 70.

[code]

This is the only worrisome I have so far. I'll need some time to think about this.

[2018-08-08 07:50] JonasGeschke commented on #27
Hi @KevCaz did you find a way to deal with the latter issue or do you want/need @ibartomeus and me to have a look at it, too?

[2018-08-08 17:06] KevCaz commented on #27
Actually I'm waiting for the response from CRAN before looking at this!

[2018-08-08 17:08] KevCaz commented on #26
I forgot to confirm the submission...Now it's done. Sorry for that we should get the answer soon!

[2018-08-08 20:31] JonasGeschke commented on #27
Ah okay alright, no worries! just wanted to check on it so we dont push it back for months again ;-)

[2018-08-11 18:01] KevCaz commented on #26
Our package is on CRAN! :fireworks:

[2018-08-11 18:01] #26 closed

[2018-08-11 18:02] KevCaz commented on #27
I'll work on this tomorrow! Currently on the way back from ESA!

[2018-08-12 07:36] JonasGeschke commented on #26
Yeay, thanks for the information, thanks for all efforts!

[2018-08-14 22:05] KevCaz commented on #27
I think everything is in order for submission to Ropenscience!

[2018-08-15 07:09] JonasGeschke commented on #27
Great, thanks for the info!

Submission is done: https://github.com/ropensci/onboarding/issues/244

[2018-08-17 08:38] ibartomeus commented on #27
Great!! Thanks both!

[2018-08-17 08:46] ibartomeus commented on #27
By the way, I am happy to prepare a blog post for MEE once we have a DOI and get some visibility.

[2018-08-17 14:31] KevCaz commented on #27
That's great! :)

[2018-08-17 15:52] JonasGeschke commented on #27
Yes thats good, thanks!
The review process started, until now its just the long code line issue that came up, but nothing to worry about now. Lets first wait for all the reviewers to be assigned and submit the reviews. You can follow up here: https://github.com/ropensci/onboarding/issues/244

[2018-08-22 06:58] JonasGeschke commented on #27
**Review checklist to be implemented**
I put the checklist here so we don't spam the reviewers too much. comment here if you start working on something, so we don't do double work.

_Review 1, details see here: https://github.com/ropensci/onboarding/issues/244#issuecomment-414770830_
- [x] (01) make `simplify` more aggressive and provide option to receive unprocessed list (`raw=FALSE`)
- [x] (02)

[2018-08-22 10:39] JonasGeschke commented on #27
regarding the function prefixes:

as far as I see we do have
1. `sppplus_` for general access by means of login/token and getting the taxon id through the taxon concept and
2. `taxon_` for receiving data for a specific taxon from the database.

I think this actually is close to what the reviewer asked for ... three things I would propose to change:
1. `spplus_simplify()` is a special case which pr

[2018-08-22 12:08] JonasGeschke opened #29 "ROpenSci review: function prefixes"
regarding the function prefixes:

as far as I see we do have
1. `sppplus_` for general access by means of login/token and getting the taxon id through the taxon concept and
2. `taxon_` for receiving data for a specific taxon from the database.

I think this actually is close to what the reviewer asked for ... a few things I would propose to change:
1. `sppplus_simplify()` probably doesnt need a pr

[2018-08-22 12:20] KevCaz commented on #29
I think I prefer `spl_` as a prefix as suggetsed by the review. `get_` is great but I feel that it can suit pretty much all packages dealing with a web API!

[2018-08-22 13:10] JonasGeschke commented on #29
yeah ... to be honest I dont like the `spl_` too much, but it is my personal feeling. `get_` of course fits to overall API packages, however in the API documentation they call it "[GET]", which I think also is a nicely straight forward saying for the vignette and re-understanding if somebody checks out the API documentation.

<img width="386" alt="bildschirmfoto 2018-08-22 um 15 01 46" src="https:

[2018-08-22 13:19] KevCaz commented on #29
Actually this refers to the fact that they are using a GET method as opposed to a POST method https://www.w3schools.com/tags/ref_httpmethods.asp

[2018-08-22 13:20] KevCaz commented on #29
Why not `spp`?

[2018-08-22 13:22] JonasGeschke commented on #29
ah alright. nevertheless `get_` would have been nice.
`spp_` is fine to me. I actually thought about proposing this.

[2018-08-22 13:23] JonasGeschke commented on #29
so how do you like
`set_token` / `simplify` / `spp_taxonconcept` / `spp_cites_legislation` / `spp_eu_legislation` / `spp_distribution` / `spp_references` / and `rcites_` for the helper functions
?

[2018-08-22 13:30] JonasGeschke commented on #29
it is good I make you happy ;-) will wait for @ibartomeus to vote and then implement the new prefixes tonight.

[2018-08-22 13:34] KevCaz commented on #29
Perfect! thanks @JonasGeschke. I may work tonight on the package to remove data table and follow the suggestions regarding the outputs (given the time zone you'll be probably sleeping). I'll work on a separate branch.

[2018-08-22 16:49] JonasGeschke commented on #27
This is a totally valid point from noamross (review 1). However, I guess some points are good to go or could have been expected, like some documentation issues and the function prefixes. Thus I still would continue with points 3 and 4 (dropping a dependency), 6, 10 and 11. the readme is pretty much done, I think we should guide people to the paper that is citable.

points 1 is an interesting one I

[2018-08-24 16:37] JonasGeschke commented on #29
alright, so as @ibartomeus didnt say anything but I didnt want to loose track of this, I now changed the prefixes according to what we discussed above. hope all checks work out well ...

[2018-08-24 16:55] ibartomeus commented on #29
Ups, I did intend to reply, but my response is clearly not here, sorry. I agree with prefixes!

[2018-08-24 17:04] JonasGeschke opened #30 ".Rproj"
After renaming the function prefixes, something still doesnt work. Double checked all files, so I guess there needs to be run something so the automatically created files get updated (roxygen?!).

Further, I notices that we have two .Rproj files. one older one `citesr` and the new `rcites`. can the old one be deleted? (for cleaning up purposes)

[2018-08-24 17:05] JonasGeschke commented on #30
also, btw, could you update the package website so that the vignette link from CRAN works? cause we by now have more than 💯 downloads!

[2018-08-24 17:08] ibartomeus commented on #27
ok, what do you want me to focus on to be efficient? 3 and 4? Or this is something @KevCaz is already on it? Just say it and I'll do it this weekend. Maybe 12?

I don't think 13 is that important, as the queries run pretty fast, and the user can save them if needed.

[2018-08-24 17:08] ibartomeus commented on #29
Hey, I did intend to reply, but it didn't work (as I can see now). Sorry. Yes, I am fine with the new prefixes.

[2018-08-24 17:44] KevCaz commented on #30
I'll take care of this right now!

[2018-08-24 18:11] KevCaz commented on #30
32c2df69ac1ebe5f8a34c73ad8cd5c9f2a06c997 should to the job! If you are Ok, close this!

[2018-08-24 18:18] KevCaz commented on #27
I think we should address comments 1-5 together, I'll create a new branch for this.

[2018-08-24 20:43] JonasGeschke commented on #29
new prefixes done.

[2018-08-24 20:43] #29 closed

[2018-08-24 20:44] JonasGeschke commented on #30
great, thanks. yes, there are some things that I thought would be the issue. thanks for dealing with it.

[2018-08-24 20:44] #30 closed

[2018-08-24 20:46] JonasGeschke commented on #27
I will check on 7 and 8. would be great if you have a look at 1-5.

[2018-08-24 22:10] KevCaz commented on #27
Sounds good!

[2018-08-24 22:37] KevCaz commented on #27
Can you add the auto-pagination in the to do list. I should be able to deal with that too!

[2018-08-25 07:11] JonasGeschke commented on #27
The auto-pagination was part of the bulk analysis in 9. separated them, now its 15.

[2018-08-25 14:15] JonasGeschke opened #31 "Add scope and language parameters"
Hi there,
I now added the `scope=` and `language=` parameters to `spp_cites_legislation()` and `spp_eu_legislation()`, as well as the `language=` parameter to `spp_distribution()`.

Can you please test and check for functionality. thanks.

[2018-08-25 14:17] KevCaz commented on #31
Nice! I should be able to look at this tomorrow!

[2018-08-26 08:31] JonasGeschke commented on #27
@ibartomeus yes I think it would be great if you could have a look at the vignette. probably we could also have two files,
- one **"Get started with rcites"** for explaining how to set the token and apply each function (technical explanation of the package)
and
- one **"Speciesplus information about the African elephant"** for running through a whole functionality explanation and showcasing the pa

[2018-08-26 08:38] JonasGeschke opened #32 "Make the vignette more comprehensive"
@ibartomeus yes I think it would be great if you could have a look at the vignette. probably we could also have two files,
- one **"Get started with rcites"** for explaining how to set the token and apply each function (technical explanation of the package)
and
- one **"Speciesplus information about the African elephant"** for running through a whole functionality explanation and showcasing the pa

[2018-08-26 08:50] JonasGeschke opened #33 "Add parameters to spp_taxonconcept"
Hi @KevCaz, depending on how you are going with adaptions to `spp_taxonconcept`, we could further consider to add more parameters to the function. The API provides quite a few, but for the start I would think `with_descendants` and again `language` could be quite handy ones. right now the function is based on `name` only.

<img width="793" alt="bildschirmfoto 2018-08-26 um 10 44 40" src="https://u

[2018-08-26 15:39] JonasGeschke commented on #32
In [Get started with rcites](https://github.com/ibartomeus/rcites/blob/master/vignettes/get_started.Rmd) and [Speciesplus information about the African elephant](https://github.com/ibartomeus/rcites/blob/master/vignettes/elephant.Rmd) I quickly drafted what it could look like. tell how you like it.

[2018-08-26 15:56] KevCaz commented on #32
Thanks! Looks good!

I'm revisiting several aspects of the package to better use the API, I'll let you what are the new features that should be included in the vignette!

[2018-08-26 22:35] KevCaz commented on #33
a09a9ac810a071fb1c93c644640534b192bc7608 introduces a new version of `spp_taxonconcept()` that includes these parameters! The only one missing is `updated_since` but I should be able to include it sooner than latter.

This function will require a new set of tests, a better documentation, which will require some work... That being said the auto-pagination is now implemented and it is now straightfo

[2018-08-27 06:20] JonasGeschke commented on #33
Nice! looking forward to the function!

a few questions from my side:

1. wouldnt it be nicer to set the `taxonomy = c("CITES", "CMS)` in the function and then calling the taxonomy check `taxonomy <- match.arg(taxonomy)` which then either takes the first argument CITES or checks that CMS is in the vector and gives an error message with information whats the values if something else is given as arg

[2018-08-27 10:54] ibartomeus commented on #32
Vignettes look great. I'll wait to have the full package with pagination to test the package and update them.

[2018-08-27 13:30] KevCaz commented on #33
1. Good point! done!
2. Again good point, done!
3. So I meant that if you sent an empty query then you'll retrieve all the data base! (just for `spp_taxonconcept()`)
4. I'll need some help with the documentation, I'll let you know how you can help!

[2018-08-27 13:46] KevCaz commented on #33
Regarding `updated_since` ISO 8601 is needed http://api.speciesplus.net/documentation/v1/taxon_concepts/index.html
I found this https://stackoverflow.com/questions/29517896/current-time-in-iso-8601-format

[2018-08-27 15:13] KevCaz commented on #32
In all vignette when we use the false token, i.e. `token = "8QW6Qgh57sBG2k0gtt"`, the code chunk must be set to `eval=FALSE`, for instance:

[code]

or

[code]

Otherwise,when we build the vignette, we get the following error:

[code]

[2018-08-27 16:36] JonasGeschke commented on #32
@ibartomeus yes sure, we should wait for all functions and the 2nd review (=> potential change) to be done before doing the documentation.
@KevCaz thanks for the info, done.

[2018-08-27 16:44] JonasGeschke commented on #33
@KevCaz
regarding `<- match.arg()` as far as I understand it is sufficient if we place "taxonomy" in the function, without the choices, as we only have those choices set in the function itself, without further alternative options.

Sounds nice indeed, I am looking forward to it!

Regarding the date-time ISO: I worked with `as.POSIXlt` before, so if you need help I can work myself into that stuff a

[2018-08-27 16:46] JonasGeschke commented on #33
ah I saw you changed something in the other functions, too. looks fancy, how you put everything into its own helper function. but efficient 👍

[2018-08-28 06:47] JonasGeschke commented on #31
@KevCaz great thanks for reviewing the scope and parameter stuff I made. could you merge the two branches by chance so the master it up-to-date? thx!
and then we should check how the [review edits](https://github.com/ibartomeus/rcites/issues/27#issuecomment-414931715) are going.

[2018-08-28 06:50] JonasGeschke commented on #33
as far as I see, the issue is generally done.

[2018-08-28 06:50] #33 closed

[2018-08-28 06:51] JonasGeschke commented on #31
as far as I see, the issue is generally done.

[2018-08-28 06:51] #31 closed

[2018-08-28 15:14] JonasGeschke commented on #27
@KevCaz thanks for rebuilding the website. could you merge the two branches by chance so the master it up-to-date? #34 thanks!
and then we should check how the review edits are going => some check marks to do?!

[2018-09-10 17:56] KevCaz commented on #27
I'll work on the testing part this week end. I'll need your help to review what I'll do, any chance one of you could do that next week?

[2018-09-10 18:44] JonasGeschke commented on #27
I am gone for holidays the next two weeks (from Friday on) but will do my best to be availably for some time. will add the comments from the 2nd review in the post above.

[2018-09-10 19:16] JonasGeschke commented on #27
while adding the prefix information to the readme, just out of interest @KevCaz `print()` is not a helper function? and any special reason why `r_cites_null_to_na()` is not `rcites_`?

[2018-09-10 19:46] KevCaz commented on #27
I gathered several methods in print.R, so I prefer to keep them inside the same R file.

nope! better use `rcites_`, thanks @JonasGeschke, enjoy your vacation!

[2018-09-10 20:59] ibartomeus commented on #27
I am available (e.g. Tuesday) if you are specific about what I should do.

[2018-09-11 05:55] JonasGeschke commented on #27
@KevCaz thats totally fine, I just wandered about the function name. as `print()` is a base function, it would probably be better to also name it `rcites_print()`.

[2018-09-17 01:38] KevCaz commented on #27
Hi,

I added the new sets of tests! We are almost there!

I have drafted a answer to the reviewer in `inst/assets/draft_answer.md`. I think you should have a look and edit it as much as you want!  We also need to think about what we should do to introduce the new features in the documentation of the package.  To me, a vignette `bulk_analysis` is in order and I still need some time to think if we c

[2018-10-03 08:24] JonasGeschke commented on #27
Hi there, I am back from vacation. What do you need me to do / would you like me to help you with?
On Friday and the weekend I may have time.

[2018-10-03 12:16] KevCaz commented on #27
Hi @JonasGeschke,

Hope you had a good break! What we need is improve the documentation. I may do further modifications in the code, but it should not affect the way we work with the package!

BTW, I forgot to answer your question about `print`, it is a method, so we should keep it as it!

[2018-10-09 02:12] KevCaz commented on #27
@JonasGeschke @ibartomeus,

So I've implemented the vectorization. We now need to finish the vignettes and then we are good to go. @JonasGeschke would you mind completing the Elephant vignette? I'll finish the "bulk analysis" one whenever I find some time this week. Then it's basically done.

The last build may not be working as it sounds that the API is not responding right now. It happens, just

[2018-10-09 07:15] JonasGeschke commented on #27
@KevCaz great, thank you!

[2018-10-09 07:26] JonasGeschke commented on #32
So we now have 3 vignettes:
1. Get started
2. Bulk analysis
3. Elephant

_Get started_ is pretty much done. _Bulk analysis_ looks basic, but I think is fine. _Elephant_ needs some more work, as this should explain a whole workflow with the package and make the outputs understandable.
I will continue working on it this week. @ibartomeus do you have some time, too?

[2018-10-09 07:32] ibartomeus commented on #32
Yes, sorry for my lack of time. I'll run everything to see how it works and any potential improvement and work on the vignettes a bit.

[2018-10-09 12:56] KevCaz commented on #32
I'll add some text to give more details.

FWIW. my vision is:
- "get_started" for a short overview;
- "elephant" to give examples of  what you can do with the data for one taxon;
- "bulk analaysis" show how to use the package to get data for many taxa;

[2018-10-09 13:01] KevCaz opened #37 "Code coverage weirdly dropped to 0%"
I don't understand why (it should be around 70% not 0%) , this needs to be fixed.

[2018-10-09 18:17] KevCaz commented on #37
So at some point I dropped the test-all.R file which is why the code coverage dropped.... my bad!
BTW, this is very helpful https://cran.r-project.org/web/packages/covr/vignettes/how_it_works.html

[2018-10-09 18:17] #37 closed

[2018-10-12 12:17] JonasGeschke commented on #32
Alright, I just had a look at all of the three and cleaned up "elephant". I dont think you need to give "bulk analysis" more text, as it pretty clearly shows how to do/code this. The only thing that could be added, as the same with "elephant" now, is some explanation about the outputs.

Regarding the development of "elephant" as case study: Your idea with the map of trade directions is great and s

[2018-10-12 12:30] KevCaz commented on #32
I do agree that the time has come to send the revised package back to the reviewers. I'll have a last check latter today. Let say we submit our revised Monday (or before if you are available)?

[2018-10-12 12:39] JonasGeschke commented on #32
Perfect.
As far as I see you can do your last check (@ibartomeus you need some more time if you want to add something before re-submission? however can do more work and add use examples at any time ;-) ) and post the answer to reviewers thereafter. If you prefer, also I can do this.
Then we need to wait for their response and hopefully approval. Thereafter, we will need to do [some more things](ht

[2018-10-15 07:25] JonasGeschke commented on #32
It seems like @ibartomeus doenst have too much time these days (which is fine). So @KevCaz did you do the last check? Any issues that came up and you need help with?
If not, would you rebuild the website so we can post the answer text to the reviewers?

[2018-10-15 07:51] ibartomeus commented on #32
I can do it today (and I'll be happy to look through everything, even if my comments will be very minor or non-existing, giving your amazing job)! Sorry again.

[2018-10-15 07:56] JonasGeschke commented on #32
No worries at al @ibartomeus! We all have other duties to deal with, so it is fine. Special thanks in this regard to @KevCaz for dealing with all the technical issues!
So I guess we are good to go and get the package resubmitted asap.

[2018-10-15 11:36] ibartomeus commented on #32
What the 'load_all()' function is doing in line 53 of the get_started vignette? it fails for me ('Error in load_all() : could not find function "load_all"').

Ok, it knits correctly, but if fails when ran as stand alone.

[2018-10-15 11:46] KevCaz commented on #32
@ibartomeus I used it for some reasons (bad reasons) it should be replaced by `library(rcites)`.

[2018-10-15 11:52] ibartomeus commented on #32
Ok, I'll do that!

[2018-10-15 11:58] ibartomeus commented on #32
Can we also remove !-- https://cran.r-project.org/web/packages/httr/vignettes/secrets.html --
from line 24 on elephant.rmd?

[2018-10-15 11:59] KevCaz commented on #32
Yep

Em Seg, 15 de out de 2018 07:58, Ignasi Bartomeus <notifications@github.com>
escreveu:

[2018-10-15 12:20] ibartomeus commented on #32
I found one bug in Bulk analysis:

Retrieving info from page  6 / 6
Done!
Error in do.call(rbind, y[[name]]) : second argument must be a list

NULL

[2018-10-15 12:26] ibartomeus commented on #32
Ok, other than the bug above, I corrected a few typos and made a few clarifications. All pushed. @KevCaz make a quick look to check I didn't add anything wrong and let's submit it! The package looks impressive!

[2018-10-15 12:28] KevCaz commented on #32
I'll have the final look, I was suppose to do that during the week-end but did not find the time to do so!
Thanks @ibartomeus!

[2018-10-15 16:57] KevCaz commented on #32
All fixed, website rebuilt. I think we can close this for now and open a new issue when the time of reviewing the vignettes will come.

[2018-10-15 16:57] #32 closed

[2018-10-15 16:59] KevCaz commented on #27
Almost there, I have shortened some lines to make our code compliant to goodpractices.

[2018-10-15 18:15] KevCaz commented on #27
Package build is currently failing on AppVeyor https://ci.appveyor.com/project/KevCaz/rcites/builds/19525698, looks like the culprit is `stringi` (we cannot fix this ourselves), I'm currently checking if the build passes on a windows device, then I'll send the response to the reviewer.

[2018-10-15 18:51] KevCaz commented on #27
Looks good I'll proceed.

[2018-10-15 19:17] KevCaz commented on #27
done! https://github.com/ropensci/onboarding/issues/244

[2018-10-24 23:49] KevCaz opened #38 "rcites_combine_lists() dropped tibble classes"
As mentioned by Noam [here](https://github.com/ropensci/onboarding/issues/244#issuecomment-432821342):

[2018-10-25 00:46] #38 closed

[2018-11-12 18:37] KevCaz opened #39 "Editor's comments on version 0.1.0.9000"
- [x] I see you have examples wrapped in \donttest{}, AFAIK these examples are run on cran's checks, is that what you intended? if not, change it to \dontrun{}
 - [x] In running goodpractice::gp(), i see there's quite a few files that still have lines longer than 80 width, run gp, then see x$lintr - within reason try to make these width 80 or less
 - [x] I'd consider adding a parameter ... to all

[2018-11-12 22:51] KevCaz commented on #39
Done via 7f17d56972d7ca900627c55f7b6e668b35c83e7b

[2018-11-12 22:51] #39 closed

[2018-11-12 23:34] KevCaz commented on #27
@JonasGeschke  and @ibartomeus looks like we are almost done, given the change we've made I think we should use v1.0.0 for the next release to CRAN.

[2018-11-13 07:04] ibartomeus commented on #27
Amazing, thanks!

[2018-11-13 07:28] JonasGeschke commented on #27
great, once again thanks for your immediate work on the comments coming in!

yes, I totally think so, too. but lets wait with the next release until the whole ROpenSci process is done.

anyhow: download numbers looking very good!

[2018-11-14 17:31] JonasGeschke commented on #27
submission approved!

To-dos now (https://github.com/ropensci/onboarding/issues/244#issuecomment-438742734):
- [x] (1) Please transfer the package to ropensci- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.
- [x] (2) add rOpenSci footer to README
- [x] (3) Change any needed links, such those for CI badg

[2018-11-14 17:40] JonasGeschke commented on #27
1 has to be done by @ibartomeus I guess? as you are the only admin of the repository, right?
next to those to-dos, a next release and cran update is on. anything else @KevCaz ?

[2018-11-14 17:49] JonasGeschke commented on #27
more information here:
https://ropensci.github.io/dev_guide/onboarding-guide-for-editors.html#editorchecklist

[2018-11-14 22:22] KevCaz commented on #27
What about JOSS and a blog post?

[2018-11-15 07:21] JonasGeschke commented on #27
8.2.5 For joint JOSS submissions:
- After repo is transferred to ropensci and admin rights assigned, have author generate a new release with a DOI.
- Ask author to submit package via http://joss.theoj.org/papers/new
- Watch for paper to pop up at http://joss.theoj.org/papers, then add the following comment to the submission thread

and then, yeah, we can write one blog post for ropensci and one fo

[2018-11-15 22:25] ibartomeus commented on #27
Yuhu! I started drafting a post here: https://docs.google.com/document/d/1ddyBaaSl8Q20tcjpTYMgAAUT7TP9LMRZgDNugC4ierM/edit?usp=sharing

Add whatever you want, its just a rough draft.

[2018-11-16 07:34] JonasGeschke commented on #27
Thanks @ibartomeus; I know changed all the badge links.

When running write_codemeta() I get the error msg "Error: 'str_remove' is not an exported object from 'namespace:stringr'"
Same for you @KevCaz ?

@KevCaz would you also do the new release then? you are our technical expert :-)
For releasing with an doi we should use Zenodo I guess?

[2018-11-16 14:56] KevCaz commented on #27
I'll take care of the next release on CRAN, I'll check the write_codemeta() as well and the DOI, I'm just wondering if we should get a DOI from Zenodo or from JOSS, I'll check that too.

[2018-11-16 14:56] KevCaz commented on #27
Sounds like DOI first...

[2018-11-17 09:33] JonasGeschke commented on #27
Thanks @KevCaz for the release and DOI!
Once you got the `write_codemeta()` done I will let sckott know about it – or you can. Then, once he says everything is good to go, I can do the JOSS submission.

[2018-11-17 21:42] KevCaz opened #40 "Blog post for Ropensci website and MEE"
@ibartomeus started this https://docs.google.com/document/d/1ddyBaaSl8Q20tcjpTYMgAAUT7TP9LMRZgDNugC4ierM/edit?usp=sharing

I thought I'd be clearer to have a separate issue for this :)

[2018-11-17 21:44] ibartomeus commented on #40
Thanks! I'll also fork the ropensci repo for posts and move the content there. Should we do the same post for MEE and ropensci? Or is it worth it to do two different entries? tagging @JonasGeschke here,

[2018-11-17 21:44] KevCaz commented on #27
@JonasGeschke I'm almost done with codemeta, I'll let sckott know about it, the next commit will close the issue, the new version (1.0.0) is on its way to CRAN.

[2018-11-17 21:51] KevCaz commented on #27
360b95b11f7b855efc24245d2df84fbddd58c4c5 adds `codemeta.json`. I'm closing this issue as the submission is now completed, if some discussions are required for the JOSS paper let's open a separate issue :)

[2018-11-17 21:51] #27 closed

[2018-11-17 23:16] KevCaz commented on #40
As the post should be written in Markdown I now am writing using markdown tags. Also, I've included the YAML header.

[2018-11-18 00:10] KevCaz commented on #40
Thanks @ibartomeus for the draft, I gave it a first go, happy to give another latter!

[2018-11-19 23:41] JonasGeschke commented on #40
Hi, just so you know I submitted the paper to JOSS. will let you know about the process.
Regarding the blog post: thanks for starting the draft! will have a look at it tomorrow.

Do we want to submit the same blog post to both blogs?

[2018-11-19 23:43] JonasGeschke commented on #40
Ah here I just found the same question. I actually think one blog post for both blogs would be fine, they can also refer to each other. or we can do a blog post for MEE and a technical note for ROpenSci ...

[2018-11-19 23:50] KevCaz commented on #40
My opinion is that we should do the post for Ropensci and then mention the post to MEE and ask them if they are interested in hosting the same post / if they want something different / or just a quick abstract + the link to the Ropensci post. Just my opinion, not a strong one, happy to go in any direction.

I'd also like to mention that I will also do a post on my blog about this. But it'll be a b

[2018-11-20 07:12] ibartomeus commented on #40
I agree with Kevin, let's just ask MEE once the other one is published.

[2018-11-20 08:27] JonasGeschke commented on #40
great to then thats the way we go.

[2018-11-20 11:45] JonasGeschke opened #41 "JOSS publication"
Hi there,
you guys quickly want to proof-read? As far as I see, it's all fine.

https://github.com/openjournals/joss-papers/blob/joss.01090/joss.01090/10.21105.joss.01090.pdf

[2018-11-20 12:18] ibartomeus commented on #41
Looks great!

My affiliation should be "Estación Biológica de Doñana (EBD-CSIC)". Can you check that. Thanks.

I am not familiar with the meaning of "n.d.", but I Think it is correct. Nothing else to add.

[2018-11-20 12:22] JonasGeschke commented on #41
Alright. Are you fine with "Estación Biológica de Doñana, Spain"?

"n.d." means no date, which is/ can be used for websites. but happy if you have an other style.

[2018-11-20 12:24] ibartomeus commented on #41
"(EBD-CSIC)" should be mentioned too.

[2018-11-20 12:25] JonasGeschke commented on #41
so it is "Estación Biológica de Doñana (EBD-CSIC), Spain".
alright?

[2018-11-20 12:27] JonasGeschke commented on #41
@KevCaz your affiliation is okay?

[2018-11-20 12:40] KevCaz commented on #41
Yep my affiliation is correct!

Also I wonder, should we use Speciesplus or Species+ (not a big deal though).

Thanks!

[2018-11-20 12:43] JonasGeschke commented on #41
Great. I took the double "Guelph" out though. ok?

I changed it all to Speciesplus, expect the one/first time in the text here we have the brakets.

[2018-11-20 12:47] KevCaz commented on #41
Is correct

city/province/Country I guess it is needed.

[2018-11-20 12:49] JonasGeschke commented on #41
so this is it:

affiliations:
- index: 1
  name: Museum für Naturkunde Berlin - Leibniz Institute for Research on Evolution and Biodiversity, Berlin, Germany
- index: 2
  name: Department of Integrative Biology, University Of Guelph, Guelph, Ontario, Canada
- index: 3
  name: Estación Biológica de Doñana (EBD-CSIC), Sevilla, Spain

[2018-11-20 14:13] ibartomeus commented on #41
Perfect, great!

[2018-11-20 15:17] JonasGeschke commented on #41
submission is done, paper is accepted, I will post the DOI as soon as I got it.

[2018-11-20 15:27] JonasGeschke commented on #41
https://doi.org/10.21105/joss.01091

[2018-11-20 15:57] JonasGeschke commented on #40
So now I also did my read and edits to the blog post. @ibartomeus can you run through the proposed changes to make it a clean text?

[2018-11-20 15:57] KevCaz commented on #41
that fast?? :smile:

[2018-11-20 15:58] JonasGeschke commented on #41
yep, because we ran through the rOpenSci review process already.

[2018-11-20 20:32] ibartomeus commented on #40
Done, if you are happy, I can fork the ropensci blog repo and, add our post, and do the pull request. Just give me your green light.

[2018-11-20 20:43] JonasGeschke commented on #40
I just changed the "MEE hackathon" to "Ecology Hackathon", so we dont exclude other organisers.
with this, you have my green light!

[2018-11-20 20:58] KevCaz commented on #40
@ibartomeus I edited (slightly) the post. I would have loved to find the real name of T. D. James...
Green light.

[2018-11-20 21:06] JonasGeschke commented on #40
Tamora James? => https://rse.shef.ac.uk/blog/sheffieldR-hacktoberfest/ and https://twitter.com/soayipm

[2018-11-20 21:08] KevCaz commented on #40
Yeah!! I added here names, thanks @JonasGeschke

[2018-11-21 12:14] JonasGeschke commented on #40
I just cleaned up all links. anything else @KevCaz?
from my side its looking good and can be submitted @ibartomeus

[2018-11-21 12:32] KevCaz commented on #40
All good!

[2018-11-23 07:52] JonasGeschke opened #42 "Error when requesting all taxon identifiers"
Hi @KevCaz, besides the CBD COP-14 I just did a request of all Speciesplus taxon identifiers. Unfortunately, an error popped up, which we should have a look at.

<img width="590" alt="all_taxa_error" src="https://user-images.githubusercontent.com/14090764/48932574-613c0b00-ef05-11e8-8851-e70cc3653d55.png">

[2018-11-23 13:19] KevCaz commented on #42
@JonasGeschke Did the error pop at page 3?

[2018-11-23 13:30] JonasGeschke commented on #42
@KevCaz no it came after the whole 154 pages only. I actually dont know why it has a double "Retrieving info from page X/Y" info.

[2018-11-23 13:31] JonasGeschke commented on #42
@KevCaz no it came after the whole 154 pages only. I actually dont know why it has a double "Retrieving info from page X/Y" info.

[2018-11-23 13:41] KevCaz commented on #42
Ok I can reproduce it. I guess there is a least on page that causes an issue!

[2018-11-23 14:48] KevCaz commented on #42
At least page 19 leads to this issue. I'll see what I can do this WE.

[2018-11-23 15:35] KevCaz commented on #42
Related to this:

[code]

[2018-11-24 20:44] KevCaz commented on #42
Found the first one, due to `hash_annotation` that may have 2 elements... I'm on it.

[2018-11-24 21:43] KevCaz commented on #42
Found the second one too, sometime there are no `cites_listings` for an entire pages!

[2018-11-25 15:32] KevCaz commented on #42
a new one:

[code]

[2018-11-25 22:44] KevCaz commented on #42
Sounds like I got it!

[code]

[2018-11-25 23:10] KevCaz commented on #42
To fix this issue, I reviewed `rcites_taxonconcept_cites_listings()` + `rcites_unlist_party()` (which now is `rcites_party()`) in `zzz.R` I also added a test to include page 83 which is the page where the filed `cites_listing` vanishes.

[2018-11-25 23:12] #42 closed

[2018-11-25 23:27] KevCaz opened #43 "Improve information reported when `verbose = TRUE` in `spp_taxonconcept()`"
I think we should show the page currently handled + the number of pages required + the total of pages available. Currently, the second one is missing, making it rather difficult to assess how long it's gonna take based on what is displayed.

[2018-11-29 13:15] KevCaz commented on #40
@JonasGeschke and @ibartomeus, all done?

[2018-11-29 13:21] ibartomeus commented on #40
Yep: https://github.com/ropensci/roweb2/pull/344 waiting for publication.

[2018-11-29 15:18] tdjames1 commented on #40
That's right - thanks for the mention :)

[2018-11-29 18:42] KevCaz commented on #40
Just to be sure, @ibartomeus you will handle the edition of the post?

[2018-11-29 18:43] ibartomeus commented on #40
Yes.

[2019-03-28 23:51] #40 closed

[2019-05-21 14:41] noamross opened #44 "Infinite recursion error when using non-interactively without token"
When running a command that makes an API call in a non-interactive R session, in the absence of an API key, rcites has an infinite recursion error where it enters an unescapable loop.  For example:

[code]

This is the result when using `reprex::reprex()` to produce the example.  In the case where the non-interactive mode is in knitting an R Markdown document or in `R CMD check`, one will get an e

[2019-05-21 14:51] KevCaz commented on #44
Confirmed. Thank you @noamross for reporting this with a nice reprex. I should be able to look at this bug, this week.

[2019-05-21 17:56] KevCaz commented on #44
Switching l.27 in `set_token.r` https://github.com/ropensci/rcites/blob/master/R/set_token.R from `message("no token provided")` to `stop("no token provided")` solved this, just have to think a bit more about what would be the best.

[2019-05-21 22:13] KevCaz commented on #43
Also, https://github.com/r-lib/cli https://github.com/r-lib/crayon

[2019-05-21 23:11] #44 closed

[2019-05-21 23:14] KevCaz commented on #44
Thanks again @noamross ! Please let me know if you still encounter this issue. I'd like to review few other details before submitting the patch to CRAN.

[2019-05-22 00:56] noamross commented on #44
Yup works fine now!

[2019-07-03 00:47] KevCaz commented on #43
+ use `message()` rather that `cat()`, see https://stackoverflow.com/questions/4754996/showing-a-status-message-in-r to easily suppress them!

[2019-09-20 14:35] KevCaz opened #46 "Installation on covr failed in Travis"
From the console log https://travis-ci.org/ropensci/rcites/builds/586822947:
[code]

This may help https://github.com/r-lib/devtools/issues/2020

[2019-10-07 19:34] eveskew opened #47 "spp_cites_legislation() fails to return clean output for some taxa"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

It seems `spp_cites_legislation()` fails to return clean output with a list of three data frames if the user selects a taxon for which there is no CITES listing information. This problem may be related to #42 and appears to involve the coercion to the `spp_cites_leg` object class. Invoking the `raw = TRUE` option succee

[2019-10-07 21:53] KevCaz commented on #47
Reproduced! Thanks for reporting this @eveskew I should be able to work on a fix this week-end.

[2019-10-09 18:46] KevCaz commented on #47
The problem is that for this species (and I suspect it isn't the only one) there is not listing information (and no quota).  I will update functions and tests so that this will be covered in the next version of rcites.

[2019-10-09 19:14] KevCaz commented on #47
@eveskew this should solve the issue you described, let me know if everything work with the last dev version!

[2019-10-09 19:49] eveskew commented on #47
@KevCaz quick work! After downloading the dev version of the package, my example code above now runs without issue. I also re-ran another bit of code I had that was attempting to pull info for a set of species, some of which I know had missing CITES listings. It behaves very nicely now. From what I can tell the issue is fixed!

[2019-10-09 19:49] #47 closed

[2019-10-09 20:00] KevCaz commented on #47
Thank you very much @eveskew for a very useful issue report! I'll work a bit more before publishing a new CRAN release.

[2019-10-09 22:18] KevCaz commented on #46
See #48

[2019-10-09 22:18] #46 closed

[2020-01-27 15:07] fleurhierink opened #49 "Not Found (HTTP 404): spp_cites_legislation bulk analysis"
spp_cites_legislation() generates HTTP 404 errors when trying to fetch multiple taxon id's. The error appears at different times when trying to reproduce it. Sometimes the error appears after 6 taxon id's whereas the next time it might be after 16 taxon id's. I have been able to successfully run the code below until mid November 2019. A reproducible example:

[code]

[2020-01-27 15:16] KevCaz commented on #49
Thank you for reporting this, I also encounter an 4040 error when running the example, specifically I get:

[code]
(I've tried it 3 times and got the same results every time) I will try to investigate this issue latter today. In the meanwhile, looks like it's working when running one at a time.

[2020-01-28 14:21] KevCaz commented on #49
It does not seem to be related with the code. Looks like the number of requests per IP has been lowered, my IP has just been banned, it never happened during the dev period were we did way more requests.

[2020-01-28 14:35] KevCaz commented on #49
An easy fix (tested on the example you provided) is to add a pause between two requests as follows:

[code]

I'm considering adding this feature in the package.

[2020-01-28 14:42] fleurhierink commented on #49
Thank you for this quick workaround! This indeed works.

[2020-01-28 14:50] KevCaz commented on #49
I am closing this and opening a separate issue about the pause feature.
Thank you for the report.

[2020-01-28 14:50] #49 closed

[2020-01-28 14:57] KevCaz opened #50 "pause feature for spp_*() functions"
Following the discussion #49, an argument `pause` may be useful to avoid 404 (or worst 403) errors when information for multiple taxa are requested.

[2020-03-29 17:39] KevCaz opened #51 "Website not deployed"
The pkgdown website is deployed by Jenkins https://dev.ropensci.org/blue/organizations/jenkins/rcites/
looks like it has been a while since it was properly deployed...

[2020-03-29 19:36] KevCaz commented on #50
See #52

[2020-03-29 19:36] #50 closed

[2020-03-29 19:36] KevCaz commented on #51
See https://github.com/ropensci/docs/issues/11

[2020-06-29 23:11] wajra opened #53 "Error in getting distribution data for species endemic to a single region"
I was testing the packages using a few species native to Sri Lanka and I consistently ran into the same issue. It appears that when a species is endemic to a single region, 'rcites::spp_distributions' doesn't return a valid value.
I've illustrated the issue below.
If we take the 'Red Slender Loris' (_Loris tardigradus_), a Loris species native to the rainforests of Sri Lanka and try to get it's di

[2020-06-30 14:14] KevCaz commented on #53
Confirmed. Thanks for the report and the reprex, very much appreciated. I am now investigating this.

[2020-06-30 19:33] KevCaz commented on #53
@wajra it should be ok now

[code]

you'd need to use the dev version for some time, but I am planning on releasing a patched version on CRAN soon. Again thanks for the report. Let me know if everything is working on your side, so I can close :smile: !

[2020-06-30 20:09] wajra commented on #53
Hello Kevin,

I just installed the dev version and the issue appears to be fixed. Thank you very much for being so quick to respond.

Thanks again.
Kind regards
Jeewantha Bandara

[2020-06-30 20:09] #53 closed

[2020-07-09 19:13] KevCaz opened #54 "Change how classes are tested"
See https://developer.r-project.org/Blog/public/2019/11/09/when-you-think-class.-think-again/index.html.

[2020-11-20 15:09] KevCaz opened #55 "Use GH actions instead of Travis"
https://discuss.ropensci.org/t/ropensci-moving-away-from-travis-ci/2267

[2020-12-04 16:14] KevCaz opened #56 "speed up tests with vcr"
See https://cran.r-project.org/web/packages/vcr/index.html

[2021-10-29 18:31] KevCaz opened #57 "test print methods properly"
See https://community.rstudio.com/t/testing-functions-that-print-messages/17656/5

[2021-10-30 16:10] KevCaz commented on #54
See also https://testthat.r-lib.org/reference/inheritance-expectations.html

[2021-10-30 16:21] #54 closed

[2021-10-30 17:11] KevCaz opened #58 "Precompute vignettes"
It is a good practice, plus, currently, this causes several deployment issues

- https://blog.r-hub.io/2020/06/03/vignettes/#how-to-include-a-compute-intensive--authentication-dependent-vignette
- https://books.ropensci.org/http-testing/graceful.html?q=vignette#graceful-vignettes-and-examples

[2021-10-30 18:21] KevCaz opened #59 "spp_*_legilation() sometime return (apparently) unrelated info"
reprex

[code]
should return

[code]

[2021-10-30 18:47] KevCaz opened #60 "console outputs and errors"
This need to be reviewed following best practice, see https://stackoverflow.com/questions/36699272/why-is-message-a-better-choice-than-print-in-r-for-writing-a-package

[2021-10-30 18:48] #51 closed

[2021-10-30 19:36] KevCaz commented on #60
Partially related to #43

[2021-10-30 19:45] #58 closed

[2021-10-30 20:09] KevCaz opened #61 "Current issue on some GHA env for http request"
I just precompute vignettes which fix some issue (#58). But now I have some issue with don't run example at least on macOS cause http requests are failing. Need to avoid testing `\donttest` example for the time being, see https://github.com/r-lib/devtools/issues/2216.

[2021-10-30 22:14] #61 closed

[2021-10-30 22:15] #56 closed

[2021-10-30 22:16] KevCaz commented on #55
See also 9f42cab, 0ae6f68, b3e68a9, 05b6c1d, 10b74de.

[2021-10-30 22:16] #55 closed

[2021-10-31 21:28] KevCaz commented on #43
Symbols for success and failure should be handled in `rcites_res` that should gain an argument `verbose`. A positive side effect of this should be a reduction of code redundancy (`rcites_cat_done()` won't be repeated in all functions).

[2021-10-31 22:55] KevCaz opened #62 "Report request status via `warn_for_status()` rather than `stop_for_status()`"
This prevents fast-failing in batch mode, but it requires to be careful as the post-processing of the request needs to be adjusted.

This is introduced in 74feae7.

[2021-10-31 22:57] KevCaz commented on #62
`rcites_res()` will need an argument `raw` to keep the raw content even when for failing requests.

[2021-10-31 22:58] #60 closed

[2021-10-31 22:59] #43 closed

[2021-11-01 01:55] KevCaz commented on #57
2B included: `res1 <- spp_distributions('23')`

[2021-11-01 01:56] KevCaz commented on #59
Don't really understand.... don't understand what taxon_id = 23 is....

[2021-11-01 02:13] KevCaz commented on #62
aa6913b6ed6adeb99533339905ac001a3d019729 introduces a message when info is not available.

[2021-11-01 02:13] #62 closed

[2021-11-01 02:41] KevCaz opened #63 "Encode URLs"
I am currently not able to test `updated_since` because of a mismatch between the request and what's recorded

request:

[code]
and the cassette:

[code]

One possible way around is to use `utils::encodeURL()`

[2021-11-01 15:00] KevCaz commented on #57
This https://testthat.r-lib.org/reference/expect_snapshot.html looks great, need the 3rd edition of testthat https://testthat.r-lib.org/articles/third-edition.html.

[2021-11-01 15:14] KevCaz opened #64 "GHA setups keep failing on different environment"
Maybe related to this https://github.com/r-lib/actions/issues/386 will try the patch porposed here https://github.com/gaborcsardi/tune/commit/d41e2ece25ea2339e42337ec69cbe9e112a1ad1b

[2021-11-01 15:24] KevCaz commented on #64
Not actually the issue here, will keep using `pak1` for `setup-r` till the issue I refer to above is solved.

[2021-11-01 15:27] KevCaz commented on #64
Will use a different environment for  code coverage.

[2021-11-01 20:32] KevCaz opened #65 "Synonyms info are not properly displayed"
reprex
[code]

[2021-11-01 23:34] #65 closed

[2021-11-02 19:44] #57 closed

[2021-11-02 19:45] KevCaz commented on #63
Depending on this I may or may not use `utils::encode()` https://github.com/ropensci/vcr/issues/240

[2021-11-04 18:34] KevCaz commented on #63
There are several good options, can't say they're all as good, but I don't see any major drawback for any of those:
1. using `modify_url()` from `httr`
2. using `curl::curl_escape()` which is used at some point by `httr::modify_url()`
3. using `utils::encode()` which I do.

None of them will actually add the dependencies list because the 3 packages area already direct or indirect depencies.

[2022-11-06 23:07] KevCaz commented on #64
Everything seem ok since v1.2.0

[2022-11-06 23:07] #64 closed

[2022-11-06 23:09] KevCaz commented on #63
This has been fixed in vcr see https://github.com/ropensci/vcr/pull/247.

[2022-11-06 23:09] #63 closed